# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
.pnp
.pnp.js

# Build output
dist/
dist-ssr/
build/
out/

# Cache
.cache/
.parcel-cache/
.turbo/

# Local env files
.env
.env.*
!.env.example

# Misc
*.local
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
